{{#block "header"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{#block "title"}}Welcome To Ben's Blog!{{/block}}</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>

        <div class="top-bar">
            <span class="header-text">Ben's Blog - Lessons in Spark Java</span>
            <button class="header-home-button">
                <a  class="header-home-button-link" href="/index">Return to Index</a>
            </button>
        </div>

        <div class="content-section">

            {{#if flashMessage}}
                <div class="flash-message-block">
                    <p id="flash-message">{{flashMessage}}</p>
                </div>
            {{/if}}
{{/block}}

{{#block "content"}}

{{/block}}

{{#block "footer"}}
        </div>
    </body>
    </html>
{{/block}}