{{#block "header"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome To My Blog!</title>
        <!--FIXME:bhs - How to get static BLOG_TITLE off of Blog class here?-->
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="flash-message-block">
            {{#if flashMessage}}
                <p id="flash-message">{{flashMessage}}</p>
            {{/if}}
        </div>
{{/block}}

{{#block "content"}}

{{/block}}

{{#block "footer"}}
    </body>
    </html>
{{/block}}