{{#partial "content"}}
    <h1>Current Blog Posts:</h1>
    <ul>
        {{#each blogEntries}}
            <li>
                <a href="/detail/{{slug}}">{{title}}: {{summary}}</a>
            </li>
        {{/each}}
    </ul>
    <br/>
    <h3><a href="/new">Create a new post</a></h3>

{{/partial}}
{{> base.hbs}}