{{#partial "title"}}Login for Create/Edit Access{{/partial}}
{{#partial "content"}}
    <h1>Enter Your Username</h1>
    <h4 class="login-header">If you'd like to be able to edit, add or delete posts, user the following password: {{password}}</h4>

    <form class="form-password" action="{{routeLogin}}" method="post">
        <input class="input-field" type="text" placeholder="Enter a username" name="username">
    </form>

    <form class="center" method="get" action="{{routeIndex}}">
        <button class="button">Return to Index</button>
    </form>
{{/partial}}
{{> base.hbs }}